#patient-form {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

#patient-form form .row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding-bottom: 20px;
}

#patient-form form .row .first {
    display: flex;
    flex-direction: row;
}

#patient-form form .row #star {
    color: red;
    font-size: 10px;
}

#patient-form form .row .text-input {
    padding: 10px;
    font-size: 16px;
}

#patient-form form .row .gender {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#patient-form form .row .gender input {
    margin: 0 10px;
}

#patient-form form .row .date {
    width: 150px;
    text-align: center;
    font-size: 16px;
    padding: 5px;
}

#patient-form form .row .blood-group {
    width: 100px;
    padding: 10px;
    text-align: center;
}

#patient-form form .row .text-field {
    padding: 10px;
    font-size: 16px;
}

#patient-form .row .report {
    display: flex;
    flex-direction: column;
}

#patient-form form .row input[type='file'] {
    width: 200px;
    cursor: pointer;
}

#patient-form form .file {
    display: flex;
    flex-direction: column;
}

#patient-form form .file button {
    width: 100px;
    margin: 20px 0 0 10px;
    padding: 5px;
}

#patient-form form .report {
    display: flex;
    justify-content: center;
}

#patient-form form .report button {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

#patient-form form .row .mobile {
    display: flex;
}

#patient-form form .row .mobile .first {
    width: 80px;
    margin-right: 5px;
    font-size: 16px;
}

#patient-form form .submit-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

#patient-form form button[type="submit"] {
    display: flex;
    width: 300px;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
}